.container{
	background-color: #727272;
	border-radius: 10px; 
	padding: 20px 40px 20px 40px;
	margin: 20px 20px 20px 20px
}
.title{
	text-align: center;
	color: #7BAFD4;
	padding-top: 20px;
	padding-bottom: 20px;
}

.quote{
	padding: 20px 20px 20px 20px;
	color: white;
	text-align: center;
}
.unc_logo{
	text-align: center;
	border-radius: 10px;
}
.background{
	text-align: center;
	background-color: black;
	border-radius: 10px;
	padding: 40px 10px 0px 10px;
}

.dunk{
	text-align: center;
	overflow: hidden;
}

.dunk_text{
	text-align: center;
	color: white;
	padding: 10px 60px 10px 60px;
}

.timeline{
	margin: 10px;
	padding: 10px;
	color: white;
	text-align: center;
}

.accomplishments{
	color: white;
	font-size: 16px;
	line-height: 1.75;
}

.footer{
	color: #7BAFD4;

}

.footer a:link {
	color: yellow;
}

.footer a:visited{
	color: purple;
}
.footer a:hover{
	color: blue;
}

.footer a:active{
	color: green;
}